.tabs ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tabs ul li button {
  background-color: transparent;
  color: #989898;
  border: 1px solid #fd5b2f;
  border-radius: 30px;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.275rem;
}

.tabs ul li :first-child {
  margin-left: 0;
}

.tabs ul .active button {
  background-color: #fd5b2f;
  color: #fff;
  /* border: 1px solid #fd5b2f; */
  border-radius: 30px;
}
